<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
	<servlet>
		<servlet-name>TaskList</servlet-name>
		<servlet-class>TasksApp.Views.TaskList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TaskCreation</servlet-name>
		<servlet-class>TasksApp.Views.TaskCreation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TaskModification</servlet-name>
		<servlet-class>TasksApp.Views.TaskModification</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>TaskSuppression</servlet-name>
        <servlet-class>TasksApp.Views.TaskSuppression</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>TaskList</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskCreation</servlet-name>
		<url-pattern>/creation</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskModification</servlet-name>
        <url-pattern>/modification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskSuppression</servlet-name>
        <url-pattern>/suppression</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>list</welcome-file>
    </welcome-file-list>
</web-app>